/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; /* Alinha verticalmente no centro */
    background-color: black; /* Define o fundo preto */
}

main {
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha à esquerda */
    padding: 20px; /* Adiciona um espaçamento interno */
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra leve */
}

.resume {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.resume > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.resume label {
    font-weight: bold;
}

.divTable {
    width: 100%;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}

ul li {
    margin: 5px 0;
    font-size: 16px;
}
